<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400italic|IM+Fell+Great+Primer+SC|Crimson+Text:400,400italic' rel='stylesheet' type='text/css'>
    <link rel=\"stylesheet\" href=\"#{STYLESHEET}\" type=\"text/css\" media=\"screen\" charset=\"utf-8\">
    
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          extensions: ["tex2jax.js"],
          jax: ["input/TeX","output/HTML-CSS"],
          tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
        });
      </script>
      <script type="text/javascript" src="/Users/dsheehy/research/MathJax/MathJax.js"></script>
    
  </head>
  <body>
    <div id='page'>
    
      <%= yield %>
    
    </div>
  </body>
</html>