p {
  margin-top: 6px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Crimson Text", serif;
	font-size: 1.2em;
	padding-left: 25px;
	color: #222;
}

.theorem, .lemma, .corollary {
	font-style: italic;
}

h2 {
	font: 2em/1 'IM Fell Great Primer SC', serif;
	margin-left: -15px;
}

.theorem h3, .proof h3 {
	font: 0.9em 'IM Fell Great Primer SC', serif;
	color: #444;
	margin: 12px 0 0 -12px;
}
